In [5]:
import numpy as np 
import pandas as pd

In [6]:
data=pd.read_csv(r"C:\Users\rguun\Desktop\kaggle\crypto_volatility_dec2025_FINAL_2025-12-09.csv")

In [9]:
data.head()

,timestamp,open,high,low,close,volume,asset,symbol
0,2025-12-03 00:00:00+00:00,91345.312500,91345.312500,91345.312500,91345.312500,0.0,Bitcoin,BTC-USD
1,2025-12-03 00:01:00+00:00,91382.492188,91382.492188,91382.492188,91382.492188,173711360.0,Bitcoin,BTC-USD
2,2025-12-03 00:02:00+00:00,91402.968750,91402.968750,91402.968750,91402.968750,0.0,Bitcoin,BTC-USD
3,2025-12-03 00:03:00+00:00,91364.125000,91364.125000,91364.125000,91364.125000,173981696.0,Bitcoin,BTC-USD
4,2025-12-03 00:05:00+00:00,91294.812500,91294.812500,91294.812500,91294.812500,0.0,Bitcoin,BTC-USD

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65201 entries, 0 to 65200
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  65201 non-null  object
 1   open       65201 non-null  float64
 2   high       65201 non-null  float64
 3   low        65201 non-null  float64
 4   close      65201 non-null  float64
 5   volume     65201 non-null  float64
 6   asset      65201 non-null  object
 7   symbol     65201 non-null  object
dtypes: float64(5), object(3)
memory usage: 4.0+ MB

In [11]:
data.describe()

               open          high           low         close        volume
count  65201.000000  65201.000000  65201.000000  65201.000000  6.520100e+04
mean   12558.902316  12558.902316  12558.902316  12558.902316  2.037489e+07
std    30803.511856  30803.511856  30803.511856  30803.511856  1.040926e+08
min        0.000004      0.000004      0.000004      0.000004  0.000000e+00
25%        0.139664      0.139664      0.139664      0.139664  0.000000e+00
50%        1.764432      1.764432      1.764432      1.764432  0.000000e+00
75%     3033.503418   3033.503418   3033.503418   3033.503418  3.384000e+05
max    94049.695312  94049.695312  94049.695312  94049.695312  4.095304e+09

In [12]:
data.isnull().sum()

timestamp    0
open         0
high         0
low          0
close        0
volume       0
asset        0
symbol       0
dtype: int64

In [8]:
data.duplicated().sum()

np.int64(0)

In [9]:
data.shape

(65201, 8)

In [13]:
data['timestamp']= pd.to_datetime(data['timestamp'])

In [14]:
data.head()

,timestamp,open,high,low,close,volume,asset,symbol
0,2025-12-03 00:00:00+00:00,91345.312500,91345.312500,91345.312500,91345.312500,0.0,Bitcoin,BTC-USD
1,2025-12-03 00:01:00+00:00,91382.492188,91382.492188,91382.492188,91382.492188,173711360.0,Bitcoin,BTC-USD
2,2025-12-03 00:02:00+00:00,91402.968750,91402.968750,91402.968750,91402.968750,0.0,Bitcoin,BTC-USD
3,2025-12-03 00:03:00+00:00,91364.125000,91364.125000,91364.125000,91364.125000,173981696.0,Bitcoin,BTC-USD
4,2025-12-03 00:05:00+00:00,91294.812500,91294.812500,91294.812500,91294.812500,0.0,Bitcoin,BTC-USD

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65201 entries, 0 to 65200
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  65201 non-null  datetime64[ns, UTC]
 1   open       65201 non-null  float64
 2   high       65201 non-null  float64
 3   low        65201 non-null  float64
 4   close      65201 non-null  float64
 5   volume     65201 non-null  float64
 6   asset      65201 non-null  object
 7   symbol     65201 non-null  object
dtypes: datetime64[ns, UTC](1), float64(5), object(2)
memory usage: 4.0+ MB

In [16]:
data['asset'].nunique()

11

In [17]:
data['asset'].unique()

array(['Bitcoin', 'Ethereum', 'Solana', 'XRP', 'Dogecoin', 'Pepe', 'Bonk',
       'Shiba Inu', 'Dogwifhat', 'Render', 'Near Protocol'], dtype=object)

In [23]:
# 1. Count number of records per crypto
trade_count = (
    data.groupby('asset')
      .size()
      .reset_index(name='trade_count')
      .sort_values(by='trade_count', ascending=False)
)

trade_count.head()

       asset  trade_count
2   Dogecoin         9046
10       XRP         8883
4   Ethereum         8784
0    Bitcoin         8687
6       Pepe         7657

In [35]:
volume_summary = (
    data.groupby('asset')['volume']
        .sum()
        .reset_index(name='total_volume')
        .sort_values(by='total_volume', ascending=False)
)


volume_summary.head()

       asset  total_volume
0    Bitcoin  7.291462e+11
4   Ethereum  5.789681e+11
9     Solana  8.977676e+09
10       XRP  6.194778e+09
2   Dogecoin  2.982790e+09

In [38]:
zero_volume_count=(data['volume']==0).sum()
zero_volume_count

np.int64(33378)

In [39]:
zero_volume_pct = (zero_volume_count / len(data)) * 100
zero_volume_pct

np.float64(51.19246637321514)

In [40]:
data.head()

,timestamp,open,high,low,close,volume,asset,symbol
0,2025-12-03 00:00:00+00:00,91345.312500,91345.312500,91345.312500,91345.312500,0.0,Bitcoin,BTC-USD
1,2025-12-03 00:01:00+00:00,91382.492188,91382.492188,91382.492188,91382.492188,173711360.0,Bitcoin,BTC-USD
2,2025-12-03 00:02:00+00:00,91402.968750,91402.968750,91402.968750,91402.968750,0.0,Bitcoin,BTC-USD
3,2025-12-03 00:03:00+00:00,91364.125000,91364.125000,91364.125000,91364.125000,173981696.0,Bitcoin,BTC-USD
4,2025-12-03 00:05:00+00:00,91294.812500,91294.812500,91294.812500,91294.812500,0.0,Bitcoin,BTC-USD

In [44]:
data['year']=data['timestamp'].dt.year
data['month']=data['timestamp'].dt.month
data['day']=data['timestamp'].dt.day
data['hour']=data['timestamp'].dt.hour
data['weekday']=data['timestamp'].dt.day_name()

In [45]:
data[['timestamp','year','month','day','hour','weekday']].head()

                  timestamp  year  month  day  hour    weekday
0 2025-12-03 00:00:00+00:00  2025     12    3     0  Wednesday
1 2025-12-03 00:01:00+00:00  2025     12    3     0  Wednesday
2 2025-12-03 00:02:00+00:00  2025     12    3     0  Wednesday
3 2025-12-03 00:03:00+00:00  2025     12    3     0  Wednesday
4 2025-12-03 00:05:00+00:00  2025     12    3     0  Wednesday

In [30]:
data['volatility'] = data['high']- data['low']
data.head()

,open,high,low,close,volume,asset,symbol,returns,7_day_MA,30days_MA,volatility
timestamp,,,,,,,,,,,
2025-12-03 00:00:00+00:00,91345.312500,91345.312500,91345.312500,91345.312500,0.0,Bitcoin,BTC-USD,NaN,NaN,NaN,0.0
2025-12-03 00:01:00+00:00,91382.492188,91382.492188,91382.492188,91382.492188,173711360.0,Bitcoin,BTC-USD,0.040702,NaN,NaN,0.0
2025-12-03 00:02:00+00:00,91402.968750,91402.968750,91402.968750,91402.968750,0.0,Bitcoin,BTC-USD,0.022408,NaN,NaN,0.0
2025-12-03 00:03:00+00:00,91364.125000,91364.125000,91364.125000,91364.125000,173981696.0,Bitcoin,BTC-USD,-0.042497,NaN,NaN,0.0
2025-12-03 00:05:00+00:00,91294.812500,91294.812500,91294.812500,91294.812500,0.0,Bitcoin,BTC-USD,-0.075864,NaN,NaN,0.0

In [29]:
data['volatility'].shape

(65201,)

In [49]:
data['pct_change'] = ((data['close'] - data['open']) / data['open']) * 100

In [16]:
data['timestamp'] = pd.to_datetime(data['timestamp'])  # Convert to datetime
data.set_index('timestamp', inplace=True)              # Set timestamp as index

daily_data = data.resample('D').agg({
    'open': 'first',
    'high': 'max',
    'low': 'min',
    'close': 'last',
    'volume': 'sum'
})

In [20]:
data['returns'] = data['close'].pct_change() * 100

returns

In [21]:
data.head()

,open,high,low,close,volume,asset,symbol,returns
timestamp,,,,,,,,
2025-12-03 00:00:00+00:00,91345.312500,91345.312500,91345.312500,91345.312500,0.0,Bitcoin,BTC-USD,NaN
2025-12-03 00:01:00+00:00,91382.492188,91382.492188,91382.492188,91382.492188,173711360.0,Bitcoin,BTC-USD,0.040702
2025-12-03 00:02:00+00:00,91402.968750,91402.968750,91402.968750,91402.968750,0.0,Bitcoin,BTC-USD,0.022408
2025-12-03 00:03:00+00:00,91364.125000,91364.125000,91364.125000,91364.125000,173981696.0,Bitcoin,BTC-USD,-0.042497
2025-12-03 00:05:00+00:00,91294.812500,91294.812500,91294.812500,91294.812500,0.0,Bitcoin,BTC-USD,-0.075864

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 65201 entries, 2025-12-03 00:00:00+00:00 to 2025-12-09 15:55:00+00:00
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   open     65201 non-null  float64
 1   high     65201 non-null  float64
 2   low      65201 non-null  float64
 3   close    65201 non-null  float64
 4   volume   65201 non-null  float64
 5   asset    65201 non-null  object
 6   symbol   65201 non-null  object
 7   returns  65200 non-null  float64
dtypes: float64(6), object(2)
memory usage: 4.5+ MB

In [25]:
data['7_day_MA']=data['close'].rolling(7).mean()
data.head(10)

,open,high,low,close,volume,asset,symbol,returns,7_day_MA
timestamp,,,,,,,,,
2025-12-03 00:00:00+00:00,91345.312500,91345.312500,91345.312500,91345.312500,0.0,Bitcoin,BTC-USD,NaN,NaN
2025-12-03 00:01:00+00:00,91382.492188,91382.492188,91382.492188,91382.492188,173711360.0,Bitcoin,BTC-USD,0.040702,NaN
2025-12-03 00:02:00+00:00,91402.968750,91402.968750,91402.968750,91402.968750,0.0,Bitcoin,BTC-USD,0.022408,NaN
2025-12-03 00:03:00+00:00,91364.125000,91364.125000,91364.125000,91364.125000,173981696.0,Bitcoin,BTC-USD,-0.042497,NaN
2025-12-03 00:05:00+00:00,91294.812500,91294.812500,91294.812500,91294.812500,0.0,Bitcoin,BTC-USD,-0.075864,NaN
2025-12-03 00:06:00+00:00,91271.890625,91271.890625,91271.890625,91271.890625,18874368.0,Bitcoin,BTC-USD,-0.025108,NaN
2025-12-03 00:08:00+00:00,91269.742188,91269.742188,91269.742188,91269.742188,0.0,Bitcoin,BTC-USD,-0.002354,91333.049107
2025-12-03 00:09:00+00:00,91337.031250,91337.031250,91337.031250,91337.031250,249634816.0,Bitcoin,BTC-USD,0.073725,91331.866071
2025-12-03 00:10:00+00:00,91469.750000,91469.750000,91469.750000,91469.750000,92094464.0,Bitcoin,BTC-USD,0.145307,91344.331473
2025-12-03 00:11:00+00:00,91519.539062,91519.539062,91519.539062,91519.539062,0.0,Bitcoin,BTC-USD,0.054432,91360.984375

In [27]:
data['30days_MA']=data['close'].rolling(30).mean()
data.head(10)

,open,high,low,close,volume,asset,symbol,returns,7_day_MA,30days_MA
timestamp,,,,,,,,,,
2025-12-03 00:00:00+00:00,91345.312500,91345.312500,91345.312500,91345.312500,0.0,Bitcoin,BTC-USD,NaN,NaN,NaN
2025-12-03 00:01:00+00:00,91382.492188,91382.492188,91382.492188,91382.492188,173711360.0,Bitcoin,BTC-USD,0.040702,NaN,NaN
2025-12-03 00:02:00+00:00,91402.968750,91402.968750,91402.968750,91402.968750,0.0,Bitcoin,BTC-USD,0.022408,NaN,NaN
2025-12-03 00:03:00+00:00,91364.125000,91364.125000,91364.125000,91364.125000,173981696.0,Bitcoin,BTC-USD,-0.042497,NaN,NaN
2025-12-03 00:05:00+00:00,91294.812500,91294.812500,91294.812500,91294.812500,0.0,Bitcoin,BTC-USD,-0.075864,NaN,NaN
2025-12-03 00:06:00+00:00,91271.890625,91271.890625,91271.890625,91271.890625,18874368.0,Bitcoin,BTC-USD,-0.025108,NaN,NaN
2025-12-03 00:08:00+00:00,91269.742188,91269.742188,91269.742188,91269.742188,0.0,Bitcoin,BTC-USD,-0.002354,91333.049107,NaN
2025-12-03 00:09:00+00:00,91337.031250,91337.031250,91337.031250,91337.031250,249634816.0,Bitcoin,BTC-USD,0.073725,91331.866071,NaN
2025-12-03 00:10:00+00:00,91469.750000,91469.750000,91469.750000,91469.750000,92094464.0,Bitcoin,BTC-USD,0.145307,91344.331473,NaN
2025-12-03 00:11:00+00:00,91519.539062,91519.539062,91519.539062,91519.539062,0.0,Bitcoin,BTC-USD,0.054432,91360.984375,NaN

In [31]:
high_price_day=data.loc[data['high'].idxmax()]
high_price_day

,open,high,low,close,volume,asset,symbol,returns,7_day_MA,30days_MA,volatility
timestamp,,,,,,,,,,,
2025-12-03 23:02:00+00:00,94049.695312,94049.695312,94049.695312,94049.695312,178208768.0,Bitcoin,BTC-USD,0.259803,93819.784598,93642.020312,0.0
2025-12-03 23:02:00+00:00,3212.264160,3212.264160,3212.264160,3212.264160,577755136.0,Ethereum,ETH-USD,0.701173,3190.421317,3176.440519,0.0
2025-12-03 23:02:00+00:00,2.205371,2.205371,2.205371,2.205371,0.0,XRP,XRP-USD,0.065708,2.204406,2.202332,0.0
2025-12-03 23:02:00+00:00,0.152575,0.152575,0.152575,0.152575,0.0,Dogecoin,DOGE-USD,0.088034,0.152486,0.152143,0.0
2025-12-03 23:02:00+00:00,0.000005,0.000005,0.000005,0.000005,215520.0,Pepe,PEPE24478-USD,0.207469,0.000005,0.000005,0.0
2025-12-03 23:02:00+00:00,0.000010,0.000010,0.000010,0.000010,0.0,Bonk,BONK-USD,0.297915,0.000010,0.000010,0.0
2025-12-03 23:02:00+00:00,1.858072,1.858072,1.858072,1.858072,0.0,Near Protocol,NEAR-USD,-0.015729,1.856761,1.851861,0.0

In [32]:
high_volume_day=data.loc[data['volume'].idxmax()]
high_volume_day

,open,high,low,close,volume,asset,symbol,returns,7_day_MA,30days_MA,volatility
timestamp,,,,,,,,,,,
2025-12-04 16:46:00+00:00,92592.843750,92592.843750,92592.843750,92592.843750,4.095304e+09,Bitcoin,BTC-USD,0.044164,92586.252232,92866.058854,0.0
2025-12-04 16:46:00+00:00,3182.372070,3182.372070,3182.372070,3182.372070,3.116196e+08,Ethereum,ETH-USD,0.068847,3181.991176,3200.812842,0.0
2025-12-04 16:46:00+00:00,2.140618,2.140618,2.140618,2.140618,1.384192e+06,XRP,XRP-USD,-0.027815,2.142658,2.147682,0.0
2025-12-04 16:46:00+00:00,0.149225,0.149225,0.149225,0.149225,1.104256e+06,Dogecoin,DOGE-USD,0.019263,0.149388,0.149761,0.0
2025-12-04 16:46:00+00:00,0.000005,0.000005,0.000005,0.000005,2.197440e+05,Pepe,PEPE24478-USD,0.000000,0.000005,0.000005,0.0
2025-12-04 16:46:00+00:00,0.000009,0.000009,0.000009,0.000009,0.000000e+00,Shiba Inu,SHIB-USD,0.000000,0.000009,0.000009,0.0
2025-12-04 16:46:00+00:00,1.818415,1.818415,1.818415,1.818415,5.595200e+04,Near Protocol,NEAR-USD,0.019278,1.821577,1.829682,0.0

In [35]:
if data['close'].iloc[-1]>data['close'].iloc[0]:
       trend='upward trend'
else:  
    trend='Downward trend'
trend

'Downward trend'

In [36]:
data.to_csv(r"C:\Users\rguun\Desktop\kaggle\crypto_volatility_dec2025_FINAL_2025-12-09.csv", index=False)

In [37]:
data.head()

,open,high,low,close,volume,asset,symbol,returns,7_day_MA,30days_MA,volatility
timestamp,,,,,,,,,,,
2025-12-03 00:00:00+00:00,91345.312500,91345.312500,91345.312500,91345.312500,0.0,Bitcoin,BTC-USD,NaN,NaN,NaN,0.0
2025-12-03 00:01:00+00:00,91382.492188,91382.492188,91382.492188,91382.492188,173711360.0,Bitcoin,BTC-USD,0.040702,NaN,NaN,0.0
2025-12-03 00:02:00+00:00,91402.968750,91402.968750,91402.968750,91402.968750,0.0,Bitcoin,BTC-USD,0.022408,NaN,NaN,0.0
2025-12-03 00:03:00+00:00,91364.125000,91364.125000,91364.125000,91364.125000,173981696.0,Bitcoin,BTC-USD,-0.042497,NaN,NaN,0.0
2025-12-03 00:05:00+00:00,91294.812500,91294.812500,91294.812500,91294.812500,0.0,Bitcoin,BTC-USD,-0.075864,NaN,NaN,0.0

In [38]:
data.to_csv(r"C:\Users\rguun\Desktop\kaggle\crypto_volatility_dec2025_FINAL_2025-12-09.csv", index=False)

In [41]:
data['open'] = data['close']
data['high'] = data['close']
data['low']  = data['close']

In [42]:
data['volatility'] = data['high'] - data['low']

In [43]:
data.head()

,open,high,low,close,volume,asset,symbol,returns,7_day_MA,30days_MA,volatility
timestamp,,,,,,,,,,,
2025-12-03 00:00:00+00:00,91345.312500,91345.312500,91345.312500,91345.312500,0.0,Bitcoin,BTC-USD,NaN,NaN,NaN,0.0
2025-12-03 00:01:00+00:00,91382.492188,91382.492188,91382.492188,91382.492188,173711360.0,Bitcoin,BTC-USD,0.040702,NaN,NaN,0.0
2025-12-03 00:02:00+00:00,91402.968750,91402.968750,91402.968750,91402.968750,0.0,Bitcoin,BTC-USD,0.022408,NaN,NaN,0.0
2025-12-03 00:03:00+00:00,91364.125000,91364.125000,91364.125000,91364.125000,173981696.0,Bitcoin,BTC-USD,-0.042497,NaN,NaN,0.0
2025-12-03 00:05:00+00:00,91294.812500,91294.812500,91294.812500,91294.812500,0.0,Bitcoin,BTC-USD,-0.075864,NaN,NaN,0.0

In [44]:
data['open'] = data['close'].shift(1)
data['high'] = data[['open','close']].max(axis=1)
data['low']  = data[['open','close']].min(axis=1)

In [45]:
data.head()

,open,high,low,close,volume,asset,symbol,returns,7_day_MA,30days_MA,volatility
timestamp,,,,,,,,,,,
2025-12-03 00:00:00+00:00,NaN,91345.312500,91345.312500,91345.312500,0.0,Bitcoin,BTC-USD,NaN,NaN,NaN,0.0
2025-12-03 00:01:00+00:00,91345.312500,91382.492188,91345.312500,91382.492188,173711360.0,Bitcoin,BTC-USD,0.040702,NaN,NaN,0.0
2025-12-03 00:02:00+00:00,91382.492188,91402.968750,91382.492188,91402.968750,0.0,Bitcoin,BTC-USD,0.022408,NaN,NaN,0.0
2025-12-03 00:03:00+00:00,91402.968750,91402.968750,91364.125000,91364.125000,173981696.0,Bitcoin,BTC-USD,-0.042497,NaN,NaN,0.0
2025-12-03 00:05:00+00:00,91364.125000,91364.125000,91294.812500,91294.812500,0.0,Bitcoin,BTC-USD,-0.075864,NaN,NaN,0.0

In [46]:
data['volatility1'] = data['high'] - data['low']

In [47]:
print(data['volatility1'])

timestamp
2025-12-03 00:00:00+00:00     0.000000
2025-12-03 00:01:00+00:00    37.179688
2025-12-03 00:02:00+00:00    20.476562
2025-12-03 00:03:00+00:00    38.843750
2025-12-03 00:05:00+00:00    69.312500
                               ...
2025-12-09 15:49:00+00:00     0.002445
2025-12-09 15:50:00+00:00     0.000197
2025-12-09 15:53:00+00:00     0.009794
2025-12-09 15:54:00+00:00     0.001131
2025-12-09 15:55:00+00:00     0.001528
Name: volatility1, Length: 65201, dtype: float64

In [48]:
data.head()

,open,high,low,close,volume,asset,symbol,returns,7_day_MA,30days_MA,volatility,volatility1
timestamp,,,,,,,,,,,,
2025-12-03 00:00:00+00:00,NaN,91345.312500,91345.312500,91345.312500,0.0,Bitcoin,BTC-USD,NaN,NaN,NaN,0.0,0.000000
2025-12-03 00:01:00+00:00,91345.312500,91382.492188,91345.312500,91382.492188,173711360.0,Bitcoin,BTC-USD,0.040702,NaN,NaN,0.0,37.179688
2025-12-03 00:02:00+00:00,91382.492188,91402.968750,91382.492188,91402.968750,0.0,Bitcoin,BTC-USD,0.022408,NaN,NaN,0.0,20.476562
2025-12-03 00:03:00+00:00,91402.968750,91402.968750,91364.125000,91364.125000,173981696.0,Bitcoin,BTC-USD,-0.042497,NaN,NaN,0.0,38.843750
2025-12-03 00:05:00+00:00,91364.125000,91364.125000,91294.812500,91294.812500,0.0,Bitcoin,BTC-USD,-0.075864,NaN,NaN,0.0,69.312500

In [51]:
print(data.columns)

Index(['open', 'high', 'low', 'close', 'volume', 'asset', 'symbol', 'returns',
       '7_day_MA', '30days_MA', 'volatility', 'volatility1'],
      dtype='object')

In [52]:
data.reset_index(inplace=True)  # timestamp column ban jaayega
data.to_csv('crypto_volatility_FIXED.csv', index=False)  # index=0 because timestamp is now column

In [53]:
print(data.columns)

Index(['timestamp', 'open', 'high', 'low', 'close', 'volume', 'asset',
       'symbol', 'returns', '7_day_MA', '30days_MA', 'volatility',
       'volatility1'],
      dtype='object')

In [54]:
data.to_csv(r"C:\Users\rguun\Desktop\kaggle\crypto_volatility_dec2025_FINAL_2025-12-09.csv", index=False)

In [55]:
data.drop('volatility',axis=1, inplace=True)

In [56]:
data.head()

,timestamp,open,high,low,close,volume,asset,symbol,returns,7_day_MA,30days_MA,volatility1
0,2025-12-03 00:00:00+00:00,NaN,91345.312500,91345.312500,91345.312500,0.0,Bitcoin,BTC-USD,NaN,NaN,NaN,0.000000
1,2025-12-03 00:01:00+00:00,91345.312500,91382.492188,91345.312500,91382.492188,173711360.0,Bitcoin,BTC-USD,0.040702,NaN,NaN,37.179688
2,2025-12-03 00:02:00+00:00,91382.492188,91402.968750,91382.492188,91402.968750,0.0,Bitcoin,BTC-USD,0.022408,NaN,NaN,20.476562
3,2025-12-03 00:03:00+00:00,91402.968750,91402.968750,91364.125000,91364.125000,173981696.0,Bitcoin,BTC-USD,-0.042497,NaN,NaN,38.843750
4,2025-12-03 00:05:00+00:00,91364.125000,91364.125000,91294.812500,91294.812500,0.0,Bitcoin,BTC-USD,-0.075864,NaN,NaN,69.312500

In [57]:
data.to_csv(r"C:\Users\rguun\Desktop\kaggle\crypto_volatility_dec2025_FINAL_2025-12-09.csv", index=False)